<div id="main-blog">
  <div class="container padding-top padding-bottom">
    <div class="row">
      <div id="content" class="site-content col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading"><%= "#{page_title}" %></div>
          <div class="panel-body">