<div class="widget widget_search">
	<form role="form" id="search" method="get" name="contact-form" action="#">
		<div class="form-group">
			<input type="text" class="form-control" autocomplete="off" placeholder="Blog Search">
			<button type="submit" class="btn"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>