<div id="content" class="site-content col-md-8">
	<div class="post">
		<div class="entry-header">
			<div class="entry-thumbnail">
				<%= image_tag(post.image_url.to_s, class: "img-responsive") %>
			</div>
		</div>
		<div class="post-content">
			<h2 class="entry-title">
			<%= link_to post.title, post %>
			</h2>
            <%= render partial: 'post_meta_information', locals: { post: post } %>
			<div class="entry-summary">
				<p><%= post.content_html.html_safe %></p>
			</div>
		</div>
		</div><!--/post-->
	</div>