	<!-- About -->
	<div id="about">
		<div class="container padding-top">
      <%= render partial: 'page_heading', locals: { page_heading: 'About Us', page_sub_heading: "Get to know more about the Alternativas Esenciales team." } %>
			<div class="row padding-bottom">
				<div class="col-sm-6">
					<img class="img-responsive" src="/assets/about/1.png" alt="About">
				</div>
				<div class="col-sm-6 npl">
					<h2>Description</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
					<h2>More</h2>
					<p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
				</div>
			</div>
		</div>
	</div><!-- #/ About -->