	<!-- About -->
	<div id="about">
		<div class="container padding-top">
      <%= render partial: 'page_heading', locals: { page_heading: 'About Us', page_sub_heading: "We Rock!" } %>
			<div class="row padding-bottom">
				<div class="col-sm-6">
					<img class="img-responsive" src="/assets/about/1.png" alt="About">
				</div>
				<div class="col-sm-6 npl">
					<h2>Welcome to our team</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>					
					<h2>Our Skill</h2>
					<p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>	
					<div class="row skills-section">						
						<div class="col-sm-3 skill">
							<div class="skill-circle" data-percent="85"><span class="skill-data">85%</span></div>
							<h2>HTML</h2>
						</div>
						<div class="col-sm-3 skill">
							<div class="skill-circle" data-percent="75"><span class="skill-data">75%</span></div>
							<h2>CSS</h2>
						</div>
						<div class="col-sm-3 skill">
							<div class="skill-circle" data-percent="65"><span class="skill-data">65%</span></div>							
							<h2>PHP</h2>
						</div>
						<div class="col-sm-3 skill">
							<div class="skill-circle" data-percent="85"><span class="skill-data">85%</span></div>
							<h2>jQyery</h2>
						</div>
					</div><!--/Skills Section -->					
				</div>
			</div>
		</div>
	</div><!-- #/ About -->
	
	<div id="our-team">
		<!-- our-team -->
		<div class="container text-center our-team padding-top padding-bottom">
			<div class="row section-title text-center">
				<div class="col-sm-8 col-sm-offset-2">
					<h1>Our Team</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet.</p>
				</div>
			</div>
			
			<!-- member -->
			<div class="col-md-3 col-sm-6">
				<div class="member">
					<img class="img-responsive" src="/assets/team/1.jpg" alt="Member">
					<div class="overlay">
						<h3 class="member-name">Patkin Kidmo</h3>
						<span class="member-title">Founder & CEO</span>
						<ul class="social list-inline">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div><!-- #/ member -->

			<!-- member -->
			<div class="col-md-3 col-sm-6">
				<div class="member">
					<img class="img-responsive" src="/assets/team/2.jpg" alt="Member">
					<div class="overlay">
						<h3 class="member-name">Patkin Kidmo</h3>
						<span class="member-title">Founder & CEO</span>
						<ul class="social list-inline">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div><!-- #/ member -->

			<!-- member -->
			<div class="col-md-3 col-sm-6">
				<div class="member">
					<img class="img-responsive" src="/assets/team/3.jpg" alt="Member">
					<div class="overlay">
						<h3 class="member-name">Patkin Kidmo</h3>
						<span class="member-title">Founder & CEO</span>
						<ul class="social list-inline">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div><!-- #/ member -->

			<!-- member -->
			<div class="col-md-3 col-sm-6">
				<div class="member">
					<img class="img-responsive" src="/assets/team/4.jpg" alt="Member">
					<div class="overlay">
						<h3 class="member-name">Patkin Kidmo</h3>
						<span class="member-title">Founder & CEO</span>
						<ul class="social list-inline">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div><!-- #/ member -->
		</div><!-- #/ our-team -->
	</div>

	<!-- Start Testimonial Section -->
	<div id="testimonial" class="parallax-section">
		<div class="overlay">
			<div class="container padding-top padding-bottom">
				<div class="row text-center">
					<div class="col-sm-12">
						<h1><span>What Customers</span> Says</h1>

						<!-- testimonial-carousel -->
						<div id="testimonial-carousel" class="carousel slide" data-ride="carousel">

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<p>The attention to detail put into every aspect of these WordPress Themes is really amazing. Truly stunning designs and so intuitive and user-friendly, I enjoyed every second of working with them!</p>
								</div>
								<div class="item">
									<p>The attention to detail put into every aspect of these WordPress Themes is really amazing. Truly stunning designs and so intuitive and user-friendly, I enjoyed every second of working with them!</p>
								</div>
								<div class="item">
									<p>The attention to detail put into every aspect of these WordPress Themes is really amazing. Truly stunning designs and so intuitive and user-friendly, I enjoyed every second of working with them!</p>
								</div>
								<div class="item">
									<p>The attention to detail put into every aspect of these WordPress Themes is really amazing. Truly stunning designs and so intuitive and user-friendly, I enjoyed every second of working with them!</p>
								</div>
								<div class="item">
									<p>The attention to detail put into every aspect of these WordPress Themes is really amazing. Truly stunning designs and so intuitive and user-friendly, I enjoyed every second of working with them!</p>
								</div>
								<div class="item">
									<p>The attention to detail put into every aspect of these WordPress Themes is really amazing. Truly stunning designs and so intuitive and user-friendly, I enjoyed every second of working with them!</p>
								</div>
								<div class="item">
									<p>The attention to detail put into every aspect of these WordPress Themes is really amazing. Truly stunning designs and so intuitive and user-friendly, I enjoyed every second of working with them!</p>
								</div>
								<div class="item">
									<p>The attention to detail put into every aspect of these WordPress Themes is really amazing. Truly stunning designs and so intuitive and user-friendly, I enjoyed every second of working with them!</p>
								</div>
								<div class="item">
									<p>The attention to detail put into every aspect of these WordPress Themes is really amazing. Truly stunning designs and so intuitive and user-friendly, I enjoyed every second of working with them!</p>
								</div>
							</div><!-- /Wrapper for slides -->

						    <!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#testimonial-carousel" data-slide-to="0" class="active"><img src="/assets/testimonial/1.jpg" alt="Client"></li>
								<li data-target="#testimonial-carousel" data-slide-to="1"><img class="img-responsive" src="/assets/testimonial/2.jpg" alt="Client"></li>
								<li data-target="#testimonial-carousel" data-slide-to="2"><img class="img-responsive" src="/assets/testimonial/3.jpg" alt="Client"></li>
								<li data-target="#testimonial-carousel" data-slide-to="3"><img class="img-responsive" src="/assets/testimonial/4.jpg" alt="Client"></li>
								<li data-target="#testimonial-carousel" data-slide-to="4"><img class="img-responsive" src="/assets/testimonial/5.jpg" alt="Client"></li>
								<li data-target="#testimonial-carousel" data-slide-to="5"><img class="img-responsive" src="/assets/testimonial/6.jpg" alt="Client"></li>
								<li data-target="#testimonial-carousel" data-slide-to="6"><img class="img-responsive" src="/assets/testimonial/7.jpg" alt="Client"></li>
								<li data-target="#testimonial-carousel" data-slide-to="7"><img class="img-responsive" src="/assets/testimonial/8.jpg" alt="Client"></li>
								<li data-target="#testimonial-carousel" data-slide-to="8"><img class="img-responsive" src="/assets/testimonial/9.jpg" alt="Client"></li>
							</ol><!-- /Indicators -->
						</div><!-- /testimonial-carousel -->
					</div>
				</div>
			</div>
		</div>
	</div><!-- #/ Testimonial Section -->
		
	<div class="container padding-bottom padding-top">
		<div class="row section-title text-center">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Our Clients</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet.</p>
			</div>
		</div>
		<div class="text-center our-clients">
			<ul>
				<li><a href="#"><img class="img-responsive" src="/assets/clients/client1.png" alt="" /></a></li>
				<li><a href="#"><img class="img-responsive" src="/assets/clients/client2.png" alt="" /></a></li>
				<li><a href="#"><img class="img-responsive" src="/assets/clients/client3.png" alt="" /></a></li>
				<li><a href="#"><img class="img-responsive" src="/assets/clients/client4.png" alt="" /></a></li>
				<li><a href="#"><img class="img-responsive" src="/assets/clients/client5.png" alt="" /></a></li>
			</ul>
		</div><!--/our-clients -->
	</div>