	<!-- About -->
	<div id="about">
		<div class="container padding-top">
      <%# render partial: 'page_heading', locals: { page_heading: 'About Us', page_sub_heading: "Get to know more about the Alternativas Esenciales team." } %>
			<div class="row padding-bottom">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-6 npl">
				</div>
			</div>
		</div>
	</div><!-- #/ About -->
