<div id="main-blog">
	<div class="container padding-top">
		<%# render partial: 'page_heading', locals: { page_heading: 'Alternativas Esenciales', page_sub_heading: "Health / Fitness / Essencial Oils" } %>
		<div class="row">
			<%= render partial: 'layouts/sidebar' %>
			<%= render partial: 'post', as: 'post', collection: @posts %>
		</div>
		<div class="row">
			<%= render partial: 'pagination', locals: { :collection => @posts } %>
		</div>
	</div>
</div>
