<div id="main-blog">
	<div class="container padding-top">
		<div class="row">
			<%= render partial: 'sidebar' %>
			<%= render partial: 'post', as: 'post', collection: @posts %>
		</div>
		<div class="row">
			<%= render partial: 'pagination', locals: { :collection => @posts } %>
		</div>
	</div>
</div>