<div id="main-blog">
	<div class="container padding-top">
		<div class="row">
			<div id="content" class="site-content col-md-12">
         <h2>User Home</h2>
			</div>
		</div>
	</div>
</div><!--/#main-blog--> 