<div class="widget">
	<h3 class="widget_title">Latest Posts</h3>
	<div class="latest-posts">
		<%= render partial: 'latest_post', as: 'latest_post', collection: Post.all.order(created_at: :desc).limit(5) %>
	</div>
</div>