<div class="widget tag-cloud">
	<h3 class="widget_title">Tag Clouds</h3>
	<ul>
		<li><a href="#">Business</a></li>
		<li><a href="#">Creative</a></li>
		<li><a href="#">Marketing</a></li>
		
		<li><a href="#">Bloging</a></li>
		<li><a href="#">Science</a></li>
		<li><a href="#">Multipurpose</a></li>
		<li><a href="#">Graphics</a></li>
		<li><a href="#">Art</a></li>
		<li><a href="#">Graphics</a></li>
	</ul>
</div>